# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Output directories
dist/
build/
.netlify/

# Local databases
backend/data/fallback_db.json
/tmp/

# OS Files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Temp zip files
webdy-netlify-deploy.zip
